Language: Cpp

BasedOnStyle: Google

IndentWidth: 2

IndentCaseLabels: true

AccessModifierOffset: -1

ColumnLimit: 80

AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortIfStatementsOnASingleLine: false

AllowShortCaseLabelsOnASingleLine: true

AllowShortLoopsOnASingleLine: false

SortIncludes: true