Language: Cpp

BasedOnStyle: Google

IndentWidth: 4

IndentCaseLabels: false

AccessModifierOffset: -2

ColumnLimit: 90

AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortIfStatementsOnASingleLine: false

AllowShortCaseLabelsOnASingleLine: true

AllowShortLoopsOnASingleLine: false

SortIncludes: true